<%- include("partial/header") -%>

<h1>Home</h1>
<p> <%= homeContent %></p>

<% posts.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <% var bodyDescription = post.titleBody %>
    <% var newBodyDescription = bodyDescription.slice(0, 100) + " ..."; %>
    <p><%= newBodyDescription %> <a href="/posts/<%= post.title %>">Read More</a></p>
<% }); %>



<%- include("partial/footer") -%>